@import '../../variables';

:host {
  mat-toolbar {
    display: flex;
    align-items: flex-start;
    padding-top: 6px;
    height: 70px;
    background: $vsc-default-background-darker;
    color: $vsc-default-text;
  }

  .gn-logo-text-box {
    padding-top: 5px;
  }

  .navbar-item {
    padding: 10px 10px 0px 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: $futuristic-strike-lightgray;
    text-transform: uppercase;
  }

  .navbar-slash {
    padding-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: $futuristic-strike-lightgray;
    text-transform: uppercase;
  }

  .navbar-items {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
  }

  mat-expansion-panel {
    width: 80px;
    background: $vsc-default-background-darker;
    box-shadow: none;
  }

  ::ng-deep.mat-expansion-panel.ng-tns-c37-0.mat-expanded, mat-expansion-panel-body.ng-tns-c37-0 {
    z-index: 1;
  }

  mat-expansion-panel-header {
    height: 42px!important;
    padding: 10px 10px 0px 0px;
  }

  mat-panel-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: $futuristic-strike-lightgray;
    text-transform: uppercase;
  }

  mat-panel-title:hover {
    color: $futuristic-strike-gold;
  }

  mat-list-item {
    height: 26px !important;
  }

  .expansion-panel-list {
    padding-top: 0px;
  }

  .panel-icon {
    height: 16px !important;
    width: 16px !important;
  }

  .expansion-panel-list mat-list-item a {
    font-size: 14px;
    color: $futuristic-strike-light;
  }

  .expansion-panel-list mat-list-item a:hover {
    color: $futuristic-strike-gold;
    cursor: pointer;
    text-decoration: none;
  }

  ::ng-deep#mat-expansion-panel-header-0:hover {
    background: none;
  }

  ::ng-deep.mat-expansion-indicator.ng-tns-c39-1 {
    padding-bottom: 5px;
  }

  ::ng-deep.mat-expansion-panel-header:not([aria-disabled=true]) {
    background: $vsc-default-background-darker;
  }

  ::ng-deep.mat-expansion-panel-header.mat-focus-indicator.ng-tns-c39-1 {
    margin-left: 0px;
    margin-right: 0px;
  }

  ::ng-deep.mat-expansion-panel-content.ng-tns-c37-0  {
    width: 110px;
  }

  ::ng-deep.mat-expansion-panel-body.ng-tns-c37-0 {
    width: 110px;
    height: 90px;
    padding: 0px 0px 0px 0px;
  }

  ::ng-deep.mat-list.mat-list-base.ng-tns-c37-0 {
    height: 90px;
  }

  ::ng-deep.mat-list-text {
    padding: 0px 0px 0px 5px !important;
  }

  ::ng-deep.mat-list-item-content {
    padding: 0px 0px 0px 0px !important;
  }
}
