<div class="gn-container-footer"
  fxLayout="row wrap"
  fxLayout.lt-md="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="45">
    <div class="gn-footer-items-container">
      <a mat-icon-button href="#">
        <i class="fa fa-facebook fa-lg gn-footer-item"></i>
      </a>
      <a mat-icon-button href="#">
        <i class="fa fa-instagram fa-lg gn-footer-item"></i>
      </a>
      <a mat-icon-button href="#">
        <i class="fa fa-twitter fa-lg gn-footer-item"></i>
      </a>
      <a mat-icon-button href="http://youtube.com/">
        <i class="fa fa-youtube fa-lg gn-footer-item"></i>
      </a>
      <a mat-icon-button href="#">
        <i class="fa fa-linkedin fa-lg gn-footer-item"></i>
      </a>
      <a mat-icon-button href="mailto:">
        <i class="fa fa-envelope-o fa-lg gn-footer-item"></i>
      </a>
    </div>
  </div>

</div>
