<div class="gn-gp-container">
  <h1 class="gn-gp-header">Game preview</h1>
  <div class="gn-div-top-spacer"></div>

  <ol>
    <li *ngFor="let guide of ggData.dota2Guides">
      {{ guide.name }}
    </li>
  </ol>

  <!-- <table class="gn-hof-table">
    <tr class="gn-th-spacer">
      <th>Username</th>
      <th>Rank</th>
      <th>Sponsored</th>
      <th>Signature game</th>
      <th>Date entered</th>
    </tr>
    <tr style="height: 20px;"></tr>
    <tr *ngFor="let player of hallOfFamePlayers">
      <td><span class="gn-username">{{ player.username }}</span></td>
      <td>{{ player.rank }}</td>
      <td>{{ player.sponsored ? 'Yes' : 'No' }}</td>
      <td>{{ player.signatureGame }}</td>
      <td>{{ player.hallOfFameDate | date }}</td>
    </tr>
  </table> -->
</div>
