<div class="container gn-dialog-default">
  <p class="gn-signup-title">Sign Up</p>
  <hr>

  <form novalidate #sform="ngForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <div class="form-group">
        <label for="username" class="form-check-label">Username</label>
        <input name="username" formControlName="username" type="text"
          class="form-control gn-signup-input" placeholder="Username" required>
      </div>
      <div class="form-group">
        <label for="password" class="form-check-label">Password</label>
        <input name="password" formControlName="password" type="password"
          class="form-control gn-signup-input" placeholder="Password" required>
      </div>
      <div class="form-group">
        <label for="email" class="form-check-label">Email</label>
        <input name="email" formControlName="email" type="email"
          class="form-control gn-signup-input" placeholder="Email" required>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input #sponsorsCheckbox class="form-check-input gn-checkbox" type="checkbox"
            (click)="onChangeSponsorship()">
          <label class="form-check-label" for="sponsored-player">
            Sponsored player?
          </label>
        </div>
      </div>
      <div *ngIf="sponsoredPlayer">
        <label for="sponsors" class="form-check-label">Sponsors</label>
        <input name="sponsors" formControlName="sponsors" type="test"
          class="form-control gn-signup-input" placeholder="Sponsor names (separated by a comma)" required>
      </div>
      <div class="form-group form-row">
        <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">Submit</button>
        <button class="btn btn-danger" type="reset" (click)="onResetForm()">Reset</button>
      </div>
    </mat-dialog-content>
  </form>
</div>
