@import '../../variables';

$input-background-light: rgb(226, 226, 226);

mat-dialog-container {
  background: $vsc-default-background;
}

.gn-dialog-default {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: $futuristic-strike-lightgray;
}

.gn-signup-title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
}

.gn-signup-input {
  background: $input-background-light;
}

.gn-form-group {
  margin-bottom: 10px;
}

.gn-checkbox {
  height: 12px;
  width: 12px;
  background: $input-background-light;
}

.gn-btn-primary {
  background: $gn-btn-primary;
  color: $futuristic-strike-light;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.gn-btn-danger {
  background: $gn-btn-danger;
  color: $futuristic-strike-lightgray;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.gn-error {
  color: $gn-btn-danger;
}

.gn-button-margin {
  margin-top: 30px;
}
