@import '../../variables';

.gn-games-container {
  padding: 0px 20px 0px 20px;
  background: $vsc-default-background-darker;
}

.gn-game-search {
  border: 1px solid $futuristic-strike-teal;
  background: $vsc-default-background;
  color: $futuristic-strike-lightgray;
  margin-bottom: 20px;
}

.gn-grid-tile {
  border: 1px solid $futuristic-strike-teal;
}

.gn-game-card {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: $futuristic-strike-black;
  padding: 0px;
}

.gn-game-card:hover {
  border: 2px solid $futuristic-strike-gold;
  cursor: pointer;
}

.gn-game-image {
  // object-fit: cover;
  width: 100%;
  height: 75%;
  margin: 0px;
}

.mat-card-image:first-child {
  margin-top: 0px;
}

.gn-game-title-container {
  padding: 6px;
  height: 25%;
}

.gn-game-title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $futuristic-strike-lightgray;
  text-transform: uppercase;
  text-align: center;
  padding-top: 18px;
  // padding-bottom: 10px;
}


