$fs-teal: (
    50 : #edfffd,
    100 : #d1fefb,
    200 : #b3fef8,
    300 : #94fdf5,
    400 : #7dfcf3,
    500 : #66fcf1,
    600 : #5efcef,
    700 : #53fbed,
    800 : #49fbeb,
    900 : #38fae7,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #dcfffb,
    A700 : #c3fff9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fs-dark-teal: (
    50 : #e9f4f3,
    100 : #c7e3e2,
    200 : #a2d1cf,
    300 : #7dbebb,
    400 : #61b0ad,
    500 : #45a29e,
    600 : #3e9a96,
    700 : #36908c,
    800 : #2e8682,
    900 : #1f7570,
    A100 : #b3fffa,
    A200 : #80fff7,
    A400 : #4dfff4,
    A700 : #33fff3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fs-lightgray: (
    50 : #f8f8f8,
    100 : #eeeeee,
    200 : #e2e3e3,
    300 : #d6d7d8,
    400 : #cecfcf,
    500 : #c5c6c7,
    600 : #bfc0c1,
    700 : #b8b9ba,
    800 : #b0b1b3,
    900 : #a3a4a6,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ebf2ff,
    A700 : #d2e1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fs-darkgray: (
    50 : #e4e5e7,
    100 : #bcbfc2,
    200 : #8f9499,
    300 : #626970,
    400 : #414852,
    500 : #1f2833,
    600 : #1b242e,
    700 : #171e27,
    800 : #121820,
    900 : #0a0f14,
    A100 : #589fff,
    A200 : #2582ff,
    A400 : #0067f1,
    A700 : #005cd7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$fs-black: (
    50 : #e2e2e2,
    100 : #b6b6b7,
    200 : #858688,
    300 : #545558,
    400 : #303034,
    500 : #0b0c10,
    600 : #0a0a0e,
    700 : #08080c,
    800 : #060609,
    900 : #030305,
    A100 : #4d4dff,
    A200 : #1a1aff,
    A400 : #0000e6,
    A700 : #0000cd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$fs-red: (
    50 : #f8e1e8,
    100 : #edb5c5,
    200 : #e1839f,
    300 : #d55179,
    400 : #cc2c5c,
    500 : #c3073f,
    600 : #bd0639,
    700 : #b50531,
    800 : #ae0429,
    900 : #a1021b,
    A100 : #ffcbd0,
    A200 : #ff98a2,
    A400 : #ff6575,
    A700 : #ff4c5e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

