$vsc-default-background: 	#1E1E1E;
$vsc-default-background-darker: 	rgb(22, 22, 22);
$vsc-default-text: #9CDCFE;

$futuristic-strike-black: #0B0C10;
$futuristic-strike-gray: #1F2833;
$futuristic-strike-lightgray: #C5C6C7;
$futuristic-strike-teal: #66FCF1;
$futuristic-strike-blue: #45A29E;
$futuristic-strike-light: rgb(235, 235, 235);
$futuristic-strike-gold: rgb(255, 228, 78);

$futuristic-sleek-darkgrey: #2C3531;
$futuristic-sleek-teal: #116466;
$futuristic-sleek-lightbrown: #D9B08C;
$futuristic-sleek-orange: #FFCB9A;
$futuristic-sleek-cyan: #D1E8E2;

$material-background-gray: #424242;
$gn-btn-primary: rgb(45, 109, 206);
$gn-btn-danger: rgb(219, 70, 70);
$gn-btn-cancel: rgb(131, 80, 80);
$input-background-light: rgb(226, 226, 226);
